<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>
</head>


<body>

<h2>New Note</h2>
<form th:action="@{/note/create}" method="post" th:object="${Note}">
    <label>Title: <input type="text" th:field="*{title}"/></label><br>
    <label>Content: <input type="text" th:field="*{content}"/></label><br>
    <button type="submit">Додати нотатку</button>
</form>



</body>