<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<!--<style>-->
<!--    .note {-->
<!--        padding: 10px;-->
<!--        margin: 5px;-->
<!--        background-color: lightgrey;-->
<!--    }-->

<!--    .note-content {-->
<!--        padding: 5px;-->
<!--        background-color: whitesmoke;-->
<!--    }-->
<!--</style>-->

<h2>Додати нотатку</h2>
<form action="/note/create" method="POST">
    <div>
        <label for="title">Назва: </label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="content">Зміст: </label>
        <textarea name="content" id="content" cols="40" rows="3"></textarea>
    </div>
    <div>
        <button type="submit">Відправити</button>
    </div>
</form>


<h2 th:text="'Всього нотаток: ' + ${notes.size()}"></h2>
<div th:each="note: ${notes}" class="note">
    <div th:text="'Назва: ' + ${note.title}"></div>
    <div class="note-content" th:text="${note.content}"></div>
    <div>
        <form action="/note/edit" method="GET">
            <input type="hidden" th:value="${note.id}" name="id">
            <button type="submit">Редагувати</button>
        </form>

        <form action="/note/delete" method="POST">
            <input type="hidden" th:value="${note.id}" name="id">
            <button type="submit">Видалити</button>
        </form>
    </div>
</div>


</body>
</html>